// Variables
// Primary Colours
$base-blue: hsl(246, 80%, 60%);
$v-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desat-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// Breakpoints
$tablet-break: 900;
$mob-break: 550;
// --- End of Variables --- //