p,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
  color: #fff; }

p {
  font-size: 18px; }

body {
  background: #0f1424; }

main#time-tracking-app {
  align-content: center;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 195px);
  justify-content: center;
  min-height: 100vh; }
  @media screen and (max-width: 900px) {
    main#time-tracking-app {
      grid-template-columns: repeat(3, 200px); } }
  @media screen and (max-width: 680px) {
    main#time-tracking-app {
      grid-template-columns: repeat(3, 29.41176vw); } }
  @media screen and (max-width: 550px) {
    main#time-tracking-app {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: auto; } }
  main#time-tracking-app div.client-card {
    background: #1c1f4a;
    border-radius: 10px;
    grid-row-end: 4;
    grid-row-start: 1;
    height: 415px; }
    @media screen and (max-width: 550px) {
      main#time-tracking-app div.client-card {
        display: inline-block;
        height: 225px; } }
    main#time-tracking-app div.client-card__wrapper {
      background: #5847eb;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 40% 60%;
      height: 275px; }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-card__wrapper {
          align-items: center;
          grid-template-columns: 40% 1fr;
          grid-template-rows: auto;
          height: 155px; } }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-card__wrapper__image {
          justify-self: end;
          margin-right: 1.25em; } }
      main#time-tracking-app div.client-card__wrapper__image img {
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 1.5em 0 0 1.5em;
        width: 65px; }
        @media screen and (max-width: 550px) {
          main#time-tracking-app div.client-card__wrapper__image img {
            margin: 0 0 0 1.5em; } }
      main#time-tracking-app div.client-card__wrapper__type {
        padding: .75em 0 0 1.5em; }
        @media screen and (max-width: 550px) {
          main#time-tracking-app div.client-card__wrapper__type {
            padding: 0; } }
        main#time-tracking-app div.client-card__wrapper__type h4 {
          font-weight: 300;
          margin: .05em 0 0 0; }
        main#time-tracking-app div.client-card__wrapper__type p {
          font-size: 14px;
          margin: .05em 0 0 0; }
        main#time-tracking-app div.client-card__wrapper__type h4 {
          font-size: 35px; }
          @media screen and (max-width: 550px) {
            main#time-tracking-app div.client-card__wrapper__type h4 {
              font-size: 24px; } }
    main#time-tracking-app div.client-card__frequency {
      padding: 0.5em 1.75em; }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-card__frequency {
          display: grid;
          grid-template-columns: 31% 33% 33%;
          padding: 0.5em 0;
          text-align: center; } }
      main#time-tracking-app div.client-card__frequency p {
        color: #bdc1ff;
        cursor: pointer;
        font-size: 16px; }
        main#time-tracking-app div.client-card__frequency p:hover, main#time-tracking-app div.client-card__frequency p:active {
          color: #fff; }
      main#time-tracking-app div.client-card__frequency p.active {
        color: #fff; }
  main#time-tracking-app div.client-modules {
    background: #1c1f4a;
    border-radius: 10px;
    cursor: pointer; }
    main#time-tracking-app div.client-modules:hover, main#time-tracking-app div.client-modules:active {
      background: #5847eb; }
    @media screen and (max-width: 550px) {
      main#time-tracking-app div.client-modules {
        height: 160px; } }
    main#time-tracking-app div.client-modules__data {
      border-radius: 10px 10px 0 0;
      padding: 1.5em; }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-modules__data {
          padding: 0 1.5em; } }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-modules__data div {
          float: right;
          margin-top: .20em; } }
      main#time-tracking-app div.client-modules__data div p {
        color: #bdc1ff;
        display: inline-block;
        font-size: 12px;
        margin-top: .75em; }
        @media screen and (max-width: 550px) {
          main#time-tracking-app div.client-modules__data div p {
            font-size: 16px; } }
      main#time-tracking-app div.client-modules__data span.ellipsis {
        float: right; }
        main#time-tracking-app div.client-modules__data span.ellipsis:hover path {
          fill: #fff; }
    main#time-tracking-app div.client-modules .client-modules__data__module-name {
      margin: 0 0 1em; }
      @media screen and (max-width: 550px) {
        main#time-tracking-app div.client-modules .client-modules__data__module-name {
          margin: 1.5em 0 .25em; } }
    main#time-tracking-app div.client-modules .client-modules__data__time {
      display: inline-block;
      font-size: 36px;
      font-weight: 300;
      margin-top: .5em;
      margin: 0; }
  main#time-tracking-app div.client-modules__top {
    border-radius: 10px 10px 0 0;
    height: 40px;
    padding-right: .5em;
    text-align: right; }
    main#time-tracking-app div.client-modules__top span.svg-container {
      display: block;
      max-height: 40px;
      overflow: hidden; }
  main#time-tracking-app div#client-module--work div.client-modules__top {
    background: #ff8c66; }
  main#time-tracking-app div#client-module--play div.client-modules__top {
    background: #56c2e6; }
  main#time-tracking-app div#client-module--study div.client-modules__top {
    background: #ff5c7c; }
  main#time-tracking-app div#client-module--exercise div.client-modules__top {
    background: #4acf81; }
  main#time-tracking-app div#client-module--social div.client-modules__top {
    background: #7536d3; }
  main#time-tracking-app div#client-module--self-care div.client-modules__top {
    background: #f1c65b; }

/*# sourceMappingURL=styles.css.map */
